.userChoice_container--main_inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    height: 100%;
    width: 50%;
    margin-left: 30%;
}

.userChoice_buttonList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (3, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-content: space-around;
    width: 60%;
    transform: translateY(-20%);
    
}

.userChoice_text{
    transform: translateY(-110%);
}

