.userChoice_form--btn {
    text-align: center;
    border: 2px solid #7B85F9;
    border-radius: 60px;
    height: 21%;
    width: 22%;
  }

 .userChoice_buttonList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

  } 

  .userChoice_form--nextbtn  {
    color:  #865439;
  }

  .btn-main {
    background: white;
    opacity: 1;
    width: 100%;
    height: 90%;
    outline: none;
    color: #865439;
    font: normal normal bold 14px/19px Segoe UI;
    letter-spacing: 0px;
    position: relative;
    margin: 0;
    padding: 5px 12px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    font-weight: 400;
    overflow: hidden;
}