

.userChoice_content--ready {
    font-weight: 800;
    font-size: 2.5em;
    margin: 0.67em 0;
}

.userChoice_content--next{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #865439;
}

.userChoice_form--text{
    font-size: 120%;
   
}

.userChoice_text--3{
    color: #865439;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}