.FeaturedTab {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.FeaturedTab_img {
    height: 90%;
    width: 100%;
}


.FeaturedTab_NewsTopic {

    background: black;
    color: white;
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FeaturedTab_Button {
    height: 10%;
    text-overflow: clip;
}


