.WelcomePage_form--btn {
  text-align: center;
  background-color: #f7f1e3;
  color: black;
  width: 22%;
  margin-top: 10px;
  font-family: monospace;
  background: white;
    opacity: 1;
    height: 130%;
    outline: none;
    color: #865439;
    font: normal normal bold 14px/19px Segoe UI;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 6px;
    overflow: hidden;
  }



  .WelcomePage_form--btn:hover{
    background-color: black;
  }