
.WelcomePage_form--input {
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid #1A2C19 ;
    border-radius: 6px;
    opacity: 1;
    height: 15%;
    width: 60%;
    color: #865439;
}

.WelcomePage_form--input:focus{
    outline: none;
}
