@media screen and (min-width: 800px) and (max-width: 1480px) { 
    
    .WelcomePage{
        background:blanchedalmond;
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-columns:  repeat(auto-fill, minmax(36px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(36px, 1fr));
        opacity: 1;
        height: 50%;
        width: 95%;
        border-radius: 35px;
        }
   


   
   
      .WelcomePage_content {
        display: flex;
        flex-direction: row;
        background: blanchedalmond;
        /* border: 1px solid black; */
        border-radius: 35px;
        height: 100%;
        width: 100%;
    }
    

    .WelcomePage_image {

        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        width: 40%;
        height: 100%;
    }
        
    
    
    .WelcomePage_form{
      /* border: 1px solid blue; */
      width: 68%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: blanchedalmond;
      border-radius: 35px;
      
      }

    .WelcomePage_image--img{

    height: 100%;
    width: 100%;
    border-radius: 20px;
    
  
  }
  
    
}

