



.WelcomePage {

  background: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  height: 90%;
  width: 90%;
  border-radius: 35px;

  }

.WelcomePage_content {
  
  height: 100%;
  width: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



.WelcomePage_image {

    display: none;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 40%;
    width: inherit;
    
}
    


.WelcomePage_form{
  /* border: 1px solid blue; */
  height: 60%;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  


.WelcomePage_form--section{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}









