@media all and (min-width: 800px) and (max-width: 1480px) { 
    .readyPage{
        background: blanchedalmond;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-columns:  repeat(auto-fill, minmax(36px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(36px, 1fr));
        opacity: 1;
        height: 55%;
        width: 80%;
        border-radius: 35px;
        }
   


   
    .readyPage_content {

        display: flex;
        flex-direction: column;
        background: blanchedalmond;
        color: black;
        /* border: 1px solid black; */
        border-radius: 35px;
        height: 60%;
        width: 98%;
        justify-content: center;
        align-items: center;
    }

 
        
    
    
    
}

