

@media screen and (min-width: 1480px) and (max-width: 2000px) {

    .readyPage{
        
        background: blanchedalmond;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        flex-direction: column;
        grid-template-columns:  repeat(auto-fill, minmax(36px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(36px, 1fr));
        opacity: 1;
        height: 55%;
        width: 70%;
        border-radius: 35px;

        }
   


   
    .readyPage_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: blanchedalmond;
        /* border: 1px solid black; */
        border-radius: 35px;
        height: 70%;
        width: 80%;
        color: black;
        /* margin-right: 20px;
        margin-left: 20px; */
    }

   


}