

.readyPage{
 
  background: blanchedalmond;
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 1;
  height: 90%;
  width: 90%;
  border-radius: 35px;

  }


.readyPage_content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    /* border: 1px solid black; */
   
}










